<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dating.date.pop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name="com.dating.date.pop.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_transparent"
        android:label=""
        android:roundIcon="@drawable/ic_transparent"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeetupWithcudeGerl"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.dating.date.pop.SplashActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dating.date.pop.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dating.date.pop.MainWebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.dating.date.pop.PolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dating.date.pop.Banner"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:icon="@drawable/ic_transparent"
            android:label=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <service
            android:name="com.dating.date.pop.OneSignalBackground"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>